><!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando ponto de coleta</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/create-point.css">

    <link rel="stylesheet" href="styles/modal-point-created.css">
    <link rel="stylesheet" href="styles/responsive.css">
    
</head>

<body>

    <div id="page-create-point">
                
        <!-- inclui a página "page-header" atraves do Nunjuncks-->
         {% include "partials/page-header.html" %}
           <form action="/savepoint" method="POST">
            <h1>Cadastro do ponto de coleta</h1>

            <!--FIELDSET agrupa elementos dentro de um formulario -->
            <!--DADOS DO FORMULARIO-->
               <fieldset>
                    <legend>
                        <h2> Dados da entidade </h2>
                    </legend>

                    <div class="field">
                       <div class="field-group">
      
                        <div class="field">
                            <label for="name">Nome da entidade*</label>
                            <input type="text" name="name" required>
                        </div>
                            <div class="field">
                            <label for="image">Imagem da entidade*</label>
                            <input type="text" name="image" placeholder="https://" required>
                        </div>
                    </div>

                        <div class="field-group">
                            <div class="field">
                                <label for="address">Endereço*</label>
                                <input type="text" name="address" placeholder="Rua/Av." required>
                            </div>
                            <div class="field">
                                <label for="address2">Número e/ou Complemento*</label>
                                <input type="text" name="address2" placeholder="Ex.: nº 10, CEP 00000-000" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <div class="field">
                                <label for="state">Estado*</label>
                                <select name="uf" required>
                                    <option value="">Selecione o estado*</option>
                                </select>      

                                <input type="hidden" name="state" value="">                        
                            </div>
                            <div class="field">
                                <label for="city">Cidade*</label>
                                <select name="city" disabled required>
                                    <option value="">Selecione a cidade</option>
                                </select>
                            </div>
                           
                        </div>
                    </div>
               </fieldset>

               <!--ICONES PARA CLICAR-->
               <fieldset>
                    <legend>
                        <h2>Itens de coleta</h2>
                        <span>Selecione um ou mais itens abaixo:</span>
                    </legend>

                    <div class="items-grid">
                        <li data-id="Lâmpadas">
                            <img src="/assets/icones/lampadas.svg" alt="Imagem de uma lâmpada">
                            <span> Lâmpadas </span>
                        </li>
                        <li data-id="Pilhas e Baterias">
                            <img src="/assets/icones/baterias.svg" alt="Imagem de uma bateria">
                            <span> Pilhas e Baterias </span>
                        </li>
                        <li data-id="Papéis e papelão">
                            <img src="/assets/icones/papeis-papelao.svg" alt="Imagem de papéis">
                            <span> Papéis e papelão </span>
                        </li>
                        <li data-id="Resíduos Eletrônicos">
                            <img src="/assets/icones/eletronicos.svg" alt="Imagem de resíduos eletrônicos">
                            <span> Resíduos Eletrônicos </span>
                        </li>
                        <li data-id="Resíduos Orgânicos">
                            <img src="/assets/icones/organicos.svg" alt="Imagem de resíduos orgânicos">
                            <span> Resíduos Orgânicos </span>
                        </li>
                        <li data-id="Óleo de Cozinha">
                            <img src="/assets/icones/oleo.svg" alt="Imagem de um copo com óleo de cozinha">
                            <span> Óleo de Cozinha </span>
                        </li>
                    </div>

                    <input type="hidden" name="items">
               </fieldset>

               <button type="submit">
                    Cadastrar ponto de coleta
               </button>
           </form>
           
        
    </div>

    {% block modal %}
        {% if saved %}
            {% include "partials/point-created.html" %}
        {% endif %}
    {% endblock modal %}

    <script src="/scripts/create-point.js"></script>
</body>

</html>