<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">

    {% block styles %}
    {% endblock styles %}



    <link rel="stylesheet" href="styles/responsive.css">
</head>

<body>
    <div id="page-home"> <!--Onde vai ficar a imagem da HOME-->     

       
    </div>


</body>
</html>